*{
    background-color: #f2f2f2;
}
.container{
    width: 100%;
}
.caja{
    width: 250px;
    min-height: 250px;
    background-color: white;
    margin: 10px;
}
.caja1{
    position: relative;    
}
.caja2{
    position: absolute;
    top: 0;
    padding: 0;
    left: 40%;
    right: 0;
}
.caja3{
    position: absolute;
    top: 0;
    padding: 0;
    left: 70%;
    right: 0;
}